body {
  font-family: "Roboto", sans-serif;
  padding: 16px;
  width: 260px;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #277e1b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3a902d;
}

#status {
  margin-top: 12px;
  font-size: 13px;
}

